[Desktop Entry]
Type=Application
Name=Figmux
Comment=Dedicated Linux desktop wrapper for Figma
Exec=figmux
Icon=com.figmux.app
Categories=Graphics;
StartupNotify=true
StartupWMClass=com.figmux.app
